	[placeholder] {
		color: white;
	}
	input::-webkit-input-placeholder {
		color: white !important;
		text-transform: uppercase;
		font-size: 25px;
	}

#foot{    
position: absolute;
bottom: 0;
width: 100%;
background-color: lightgrey;
}
#divfoot{
    
    width:80%;
    
}

[placeholder] {
    color: white;
}
input::-webkit-input-placeholder {
    color: white !important;
    text-transform: uppercase;
    font-size: 25px;
}

.img-responsive{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
}
#slogan{
    margin: 1%;
}

body{
    min-height: 100vh;
    width: auto;    
    position: relative;
    padding-bottom:10%;
    background-image:url("../icone/bg.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

.bg-light {
    background-color: #f8f9fa00!important;
}
