	[placeholder] {
		color: white;
	}
	input::-webkit-input-placeholder {
		color: white !important;
		text-transform: uppercase;
		font-size: 25px;
	}


#foot{
    position: relative;
    text-align: center;
}

#divfoot{
   bottom:0;
   width:100%;
}